.nav{
  ;
    overflow: hidden;
    font size: 20px;
}

.row{
   padding: 20px,30px,30px,30px;
}
.footer{
    background-color: black;
    color: white;
    text-align: cent;
    padding: 10px;
    margin-top: 20px;
}
.nav :hover{
    background-color: rgb(0, 0, 0);
    color: white;
}           